<a href="https://colab.research.google.com/github/Devdat24/Amazon/blob/main/DSBDA_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dict={'student':['Dev','Ram','Sham','Kunal','Hrishya'],'ID':[1,2,3,4,5]}

In [2]:
dict

{'student': ['Dev', 'Ram', 'Sham', 'Kunal', 'Hrishya'], 'ID': [1, 2, 3, 4, 5]}

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [7]:
data={'student': ['Dev', 'Ram', 'Sham', 'Kunal', 'Hrishya'], 'ID': [1, 2, 3, 4, 5]}
df=pd.DataFrame(data)

In [8]:
df

   student  ID
0      Dev   1
1      Ram   2
2     Sham   3
3    Kunal   4
4  Hrishya   5