<a href="https://colab.research.google.com/github/Devdat24/Amazon/blob/main/DSBDA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("/content/weather_data.csv")

In [4]:
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
5994,2006-05-15 19:00:00.000 +0200,Partly Cloudy,rain,19.094444,19.094444,0.60,6.9391,350,11.2056,0,1020.07,Partly cloudy until night.
5995,2006-05-15 20:00:00.000 +0200,Partly Cloudy,rain,17.655556,17.655556,0.62,1.6100,56,10.3523,0,1020.44,Partly cloudy until night.
5996,2006-05-15 21:00:00.000 +0200,Partly Cloudy,rain,15.072222,15.072222,0.78,1.9481,170,9.9820,0,1020.99,Partly cloudy until night.
5997,2006-05-15 22:00:00.000 +0200,Partly Cloudy,rain,13.405556,13.405556,0.83,3.1073,201,15.8263,0,1021.50,Partly cloudy until night.
5998,2006-05-15 23:00:00.000 +0200,Clear,rain,12.927778,12.927778,0.90,2.7531,191,14.9569,0,1021.64,Partly cloudy until night.

In [5]:
 df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.

In [6]:
df.tail()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
5994,2006-05-15 19:00:00.000 +0200,Partly Cloudy,rain,19.094444,19.094444,0.60,6.9391,350,11.2056,0,1020.07,Partly cloudy until night.
5995,2006-05-15 20:00:00.000 +0200,Partly Cloudy,rain,17.655556,17.655556,0.62,1.6100,56,10.3523,0,1020.44,Partly cloudy until night.
5996,2006-05-15 21:00:00.000 +0200,Partly Cloudy,rain,15.072222,15.072222,0.78,1.9481,170,9.9820,0,1020.99,Partly cloudy until night.
5997,2006-05-15 22:00:00.000 +0200,Partly Cloudy,rain,13.405556,13.405556,0.83,3.1073,201,15.8263,0,1021.50,Partly cloudy until night.
5998,2006-05-15 23:00:00.000 +0200,Clear,rain,12.927778,12.927778,0.90,2.7531,191,14.9569,0,1021.64,Partly cloudy until night.

In [7]:
 df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.

In [8]:
df.sample()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
3599,2006-01-08 23:00:00.000 +0100,Clear,snow,-3.866667,-3.866667,0.92,3.0912,323,9.8049,0,1036.45,Partly cloudy in the afternoon.

In [9]:
df.sample(5)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
4967,2006-06-04 23:00:00.000 +0200,Mostly Cloudy,rain,11.188889,11.188889,0.93,6.5527,283,14.0231,0,1015.30,Overcast until evening.
4214,2006-07-31 14:00:00.000 +0200,Mostly Cloudy,rain,31.077778,30.777778,0.38,9.8532,313,10.3523,0,1012.96,Mostly cloudy starting in the morning.
2758,2006-02-04 22:00:00.000 +0100,Overcast,snow,-3.461111,-7.322222,0.82,9.6439,298,6.2629,0,1024.93,Overcast throughout the day.
5731,2006-03-05 20:00:00.000 +0100,Overcast,snow,0.000000,-5.505556,0.92,22.0248,350,4.3309,0,0.00,Overcast throughout the day.
657,2006-04-07 09:00:00.000 +0200,Mostly Cloudy,rain,7.200000,4.166667,0.65,17.3719,0,9.9820,0,1014.98,Mostly cloudy until evening.

In [10]:
df.dtypes

Formatted Date               object
Summary                      object
Precip Type                  object
Temperature (C)             float64
Apparent Temperature (C)    float64
Humidity                    float64
Wind Speed (km/h)           float64
Wind Bearing (degrees)        int64
Visibility (km)             float64
Loud Cover                    int64
Pressure (millibars)        float64
Daily Summary                object
dtype: object

In [11]:
df.isnull()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
5994,False,False,False,False,False,False,False,False,False,False,False,False
5995,False,False,False,False,False,False,False,False,False,False,False,False
5996,False,False,False,False,False,False,False,False,False,False,False,False
5997,False,False,False,False,False,False,False,False,False,False,False,False
5998,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

Formatted Date              0
Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Loud Cover                  0
Pressure (millibars)        0
Daily Summary               0
dtype: int64

In [13]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5994    False
5995    False
5996    False
5997    False
5998    False
Length: 5999, dtype: bool

In [14]:
df.duplicated().sum()

np.int64(0)

In [20]:
df.rename(columns={'Temperature (C)':'Tmp (C)'},inplace=True)

In [21]:
df

,Formatted Date,Summary,Precip Type,Tmp (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
5994,2006-05-15 19:00:00.000 +0200,Partly Cloudy,rain,19.094444,19.094444,0.60,6.9391,350,11.2056,0,1020.07,Partly cloudy until night.
5995,2006-05-15 20:00:00.000 +0200,Partly Cloudy,rain,17.655556,17.655556,0.62,1.6100,56,10.3523,0,1020.44,Partly cloudy until night.
5996,2006-05-15 21:00:00.000 +0200,Partly Cloudy,rain,15.072222,15.072222,0.78,1.9481,170,9.9820,0,1020.99,Partly cloudy until night.
5997,2006-05-15 22:00:00.000 +0200,Partly Cloudy,rain,13.405556,13.405556,0.83,3.1073,201,15.8263,0,1021.50,Partly cloudy until night.
5998,2006-05-15 23:00:00.000 +0200,Clear,rain,12.927778,12.927778,0.90,2.7531,191,14.9569,0,1021.64,Partly cloudy until night.

In [22]:
df.drop(columns=['Tmp (C)'],inplace=True)

In [23]:
df

,Formatted Date,Summary,Precip Type,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...
5994,2006-05-15 19:00:00.000 +0200,Partly Cloudy,rain,19.094444,0.60,6.9391,350,11.2056,0,1020.07,Partly cloudy until night.
5995,2006-05-15 20:00:00.000 +0200,Partly Cloudy,rain,17.655556,0.62,1.6100,56,10.3523,0,1020.44,Partly cloudy until night.
5996,2006-05-15 21:00:00.000 +0200,Partly Cloudy,rain,15.072222,0.78,1.9481,170,9.9820,0,1020.99,Partly cloudy until night.
5997,2006-05-15 22:00:00.000 +0200,Partly Cloudy,rain,13.405556,0.83,3.1073,201,15.8263,0,1021.50,Partly cloudy until night.
5998,2006-05-15 23:00:00.000 +0200,Clear,rain,12.927778,0.90,2.7531,191,14.9569,0,1021.64,Partly cloudy until night.